        /*Universal style*/
* {
  box-sizing: border-box;
  }
        /* ----------- Type style --------- */

body {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  letter-spacing: .05em;
  background:#f5ffe3;
  height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1024px;
  text-align: center;
}
header {
  margin-top: 1em;
  padding-top: 1em;
}
h1 {
  color: darkgreen;
  font-size: 1.7em;
  margin:16px 0;

}
h1 a {
  text-decoration: none;
}
p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
}
footer p{
  clear: both;
  text-align: center;
  font-size: .5em;
}
span {
  font-family: "rock salt";
  font-size: 2em;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
/* ----------- class style --------- */
.container {
  margin:0 auto;
  width: 90%;
  text-align: center;
}
.background {
  background: #fff;
}

.top-nav a {
  background: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.top-nav li {
  list-style: none;
  margin: 5px 0;
}
.profile-img {
  width: 60%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #888888;
  margin-bottom: 10px;
}
.project-pic {
  width: 80%;
  max-width: 100%;
  box-shadow: 10px 10px 8px #888888;
}
.intro {
  padding: 20px 0 0 0;
}
#portfolio {
  padding-top: 30px;
}
#skills {
  padding-top: 30px;
}

.footer-nav li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
.top a {
  text-align: right;
  text-decoration: none;
  }
.full {
  visibility: hidden;
}

    /* ----------- float style --------- */
footer {
  border-top: dashed grey 1px;
}
footer h3 {
  float:left;
  width: 49%;
}
footer ul {
  float:right;
  width: 49%;
}
.clearfix::after {
  content:"";
  display: inline-flex;
  clear: both;
}
.difficulty,
.frustration {
  margin-bottom: 40px;
  box-shadow: 4px -4px 15px 0px #FF1F1F,
              12px -11px 7px 0px #FF9376,
              20px -5px 7px 0px #FFE264,
              20px 6px 7px 0px #F6FF33,
              13px 12px 17px 0px #FF9527,
              2px 17px 17px 0px #FF0000,
              -9px 21px 18px 0px #FFF212,
              -9px 6px 11px 0px #FF0808,
              -11px -9px 11px 0px #FFFA17,
              -11px -9px 11px 0px #FFFA17,
              5px 5px 15px 5px rgba(255,145,80,0);
      }
/* ----------- Media Query --------- */

@media (min-width: 768px) {
.top-nav li {
  display: inline-block;
}
.top-nav a {
  padding: 0 20px;
  background: none;
}
.intro  {
  margin: 0 auto;
}
.intro p {
  width: 60%;
  padding: 0 30px 0 0;
}
.profile-img {
  float:right;
  width: 40%;
  padding: 10px;
  margin-left: 30px;
}
.col {
  width: 50%;
  padding: 1em;
}
.col {
  float: left;
}
.col+.col {
  padding: 1em;
}
.clearfix::after {

  display:table;
  clear:both;
}
.full {
  visibility: visible;
}
.top {
  visibility: hidden;
}
footer h3 {
  width: 30%;
}
.footer-nav {
  width: 70%;
}
.footer-nav a {
  text-transform: uppercase;
  margin-right: 5px;
}
.contact {
  padding: 0 5em;
}
.difficulty {
  float:right;
}
span {
  float:left;
  padding: 3.1em;
  width: 70%;
}
.frustration {
  float: right;
}
.difficulty,
.frustration {
  margin-right: 50px;
}
.skills p {
  clear: both;
}

}

@media (min-width: 1024px) {
h1 {
  float:left;
}
.top-nav {
  float:right;
}
h1, .top-nav {
  display: inline-block;
  }
.intro {
  clear: both;
}
.col {
    width: 33%;
    }
  .col {
    float: right;
  }
  .col+.col {
    padding: 1em;
  }
.clearfix::after {
    display:table;
    clear:both;
  }
}
